MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/week7db
JWT_SECRET=replace_with_64_random_characters
JWT_EXPIRES_IN=15m
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
TEST_MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/week7_test